.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.noto {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* shared styles */
.secondary-text {
    color: #8987A1;
}

/* nav styles */
header {
    max-width: 1140px;
    margin: 30px auto 120px auto;
    /* background-color: aqua; */
}

.flex {
    display: flex;
}

.icon-text {
    align-items: center;
    margin-left: 48px;
}

.nav-text {
    margin-left: 10px;
}

.nav-items {
    justify-content: space-between;
    /* background-color: aqua; */
}

.list-items {
    list-style: none;
    text-decoration: none;
    color: black;
    justify-content: space-around;
    align-items: center;
}

.link {
    margin-left: 48px;
}

.hero-flower-container {
    /* background-color: beige; */
    margin-top: 120px;
    justify-content: space-between;
}

.flower-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.fresh-flower-imeage {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.fresh-flower-imeage {
    max-width: 100%;
}

.fresh {
    color: #E95A08;
    font-size: 4rem;
    font-weight: 700;
}

.always {
    color: black;
}


/* header part done with responsiveness */

.main {

    max-width: 1140px;
    margin: 30px auto 120px auto;
    /* background-color: aqua; */
}

.plant-card-info {
    text-align: center;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 49px;
}

/* .card{
    margin-bottom: 20px;
} */
.card-title {
    text-align: center;
    color: #111111;
    font-size: 1.30rem;
    font-weight: 600;
    margin-top: 30px;

}

.card-price {
    text-align: center;
    color: #111111;
    font-size: 1.30rem;
    font-weight: 600;
    margin: 25px;

}

.add-to-cart-btn {
    color: #ffffff;
    text-align: center;
    background-color: #E95A08;
    width: 100%;
    height: 12px;
    padding: 26px 80px;
    padding-bottom: 40px;
}

.our-plants {
    font-size: 3rem;
    font-weight: 700;
    color: black;
}

.our {
    color: #E95A08;
}

.plants-text {
    font-size: 1rem;
    /* color: rgba(0, 0, 0, 0.5) */
}

/* main first part done  */

.badge-item {
    margin-top: 200px;
    display: flex;
    /* gap: 60px; */
}

.badge-title {
    color: black;
    font-size: 50px;
    font-weight: 700;
}

.trusted-badge {
    width: 286px;
    height: 286px;
}

.badge {
    margin-top: -100px;
    margin-bottom: 0px;
    margin-right: 00px;
    margin-left: -200px;
}

/* main second part done  */

.latest-deals {
    font-size: 3rem;
    font-weight: 700;
}

.latest {
    color: #E95A08;
}

.deals {
    text-align: center;
}

.deals-img-portion {
    display: flex;
    margin-top: 120px;
    gap: 28px;
}

.img1 {
    margin-bottom: 25px;
}


.img1,
.img2 {
    border-radius: 14px;
    border: none;
}

.big-img {
    border-radius: 24px;
    border: none;
}

/* two small imeage middle text styles */
.img-1container {
    position: relative;
}

.text-1 {
    text-align: center;
    position: absolute;
    top: 52px;
    left: 90px;
    z-index: 0.5;
}

.img-2container {
    position: relative;
}

.text-2 {
    text-align: center;
    position: absolute;
    top: 52px;
    left: 90px;
}

.offer {
    font-weight: 700;
    font-size: 1.25rem;
    color: #ffffff;
}

.shop-now {
    font-weight: 700;
    font-size: 1em;
    padding: 26px auto;
    color: white;
}

/* img big middle text style */
.big-img-container {
    position: relative;
}

.offer-text {
    text-align: center;
    position: absolute;
    bottom: 120px;
    left: 170px;
}

.big-offer {
    font-size: 2.5rem;
    color: #ffffff;
}

.shop-now2 {
    color: #ffffff;
    font-size: 1.75rem;
    font-weight: 600px;
}

/* main third part done  */
.join {
    max-width: 100%;
    margin: 100px auto 100px auto;
    position: relative;
}
.form-item{
    position:absolute;
    margin-top: 3300px;

}
.f-head {

    flex-direction: column;
    font-size: 50px;
    font-weight: 700;
    color: white;
    /* padding: 150px auto; */
}

.mail-subs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    margin-top: 23px;
}

footer {
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}

.emaill {
    background-color: #ffffff;
    padding: 19px 53.5px;
    color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    border: none;
    font-size: 1rem;
    font-weight: 700;
}

.subscribes {
    padding: 19px 53.5px;
    color: #ffffff;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    background-color: #E95A08;
}


/* header  */
@media only screen and (max-width: 430px) {

    .link {
        display: none;
    }

    .hero-flower-container {
        flex-direction: column-reverse;
    }

    .fresh {
        font-size: 2rem;
    }

    header {
        margin: 0px -400px 0px 0px;
        max-width: 450px;
    }

    .flower-text {
        display: block;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-left: 120px;
    }

    .fresh-flower-imeage {
        display: block;
        flex-direction: column;
        justify-content: space-between;
        padding-right: 20px;

    }
}

/* main first */
@media only screen and (max-width: 430px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .plant-card-info {
        margin-left: 150px;
    }

}

/* main second */
@media only screen and (max-width: 430px) {
    .badge {
        display: none;
    }

    .badge-item {
        flex-direction: column;
    }
}

/* main third */
@media only screen and (max-width: 430px) {
    .deals-img-portion {
        flex-direction: column;
        margin-left: 100px;
    }

    .deals {
        margin-left: 120px;
    }

    .big-img {
        max-width: 360px;
    }
}