.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.noto {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* shared styles */
.secondary-text {
    color: #8987A1;
}

/* nav styles */
header {
    max-width: 1140px;
    margin: 30px auto 120px auto;
    /* background-color: aqua; */
}

.flex {
    display: flex;
}

.icon-text {
    align-items: center;
    margin-left: 48px;
}

.nav-text {
    margin-left: 10px;
}

.nav-items {
    justify-content: space-between;
    /* background-color: aqua; */
}

.list-items {
    list-style: none;
    text-decoration: none;
    color: black;
    justify-content: space-around;
    align-items: center;
}

.link {
    margin-left: 48px;
}

.hero-flower-container {
    /* background-color: beige; */
    margin-top: 120px;
    justify-content: space-between;
}

.flower-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.fresh-flower-imeage{
     display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.fresh-flower-imeage {
    max-width: 100%;
}

.fresh {
    color: #E95A08;
    font-size:4rem;
    font-weight: 700;
}
.always {
    color: black;
}
/* header part done with responsiveness */
@media only screen and (max-width: 393.18px) {
  li, a{
   display: none;
  }
 
  .hero-flower-container{
    flex-direction: column-reverse;
  }
  .fresh{
    font-size: 2rem;
  }

}